<div class="header">
    <div class="toggle">
        <a href="" class="nav-toggle">
            <span></span>
        </a>
    </div>
    <div class="header-content">
        <h2>Admin Panel</h2>
        <!--<form action="">
            <button type="submit">Logout</button>
        </form>-->
    </div>
</div>
<div class="sidebar">
    <nav>
        <ul>
            <li>
                <a href="">
                    <span><i></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa fa-user"></i></span>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa fa-envelope"></i></span>
                    <span>Messages</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="main-content">
    <div class="container">
        <h2>Members</h2>
        <div class="">
            <table id="table" class="table table-responsive table-striped table-hover table-sm"
                style="overflow-y: scroll; cellspacing=" 0"">
                <thead>
                    <tr>
                        <th scope=" col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ firstName }}</td>
                        <td>{{ middleName }}</td>
                        <td>{{ lastName }}</td>
                        <td>{{ email }}</td>
                        <td>{{ password }}</td>
                        <td>
                            <form action="/admin/update" method="post" ><a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id }}"
                                data-firstName="{{ firstName }}" data-middleName="{{ middleName }}"
                                data-lastName="{{ middleName }}" data-email="{{ email }}"
                                data-password="{{ password }}">Edit</a></form>
                            <form action="/admin/delete" method="post" ><a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                                data-id="{{ id }}">Delete</a></form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "scrollX": true,
            "scrollY": 200,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>